@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
:root {
  --light-gray: #f2f2f2;
  --light-medium-gray: #dedede;
  --medium-gray: #ababab;
  --light-medium-gray: #dedede;
  --subtle-dark: #61646b;
  --primary-color: #23ff81;
  --second-color: #1fab5e;
  --light-green: #c6ffde;
  --medium-green: #1fab5e;
  --light-yellow: #fff2d1;
  --medium-yellow: #eeb304;
  --light-red: #ffd9da;
  --medium-red: #ff5c00;
  user-select:none;
}
.grecaptcha-badge { 
    visibility: hidden;
}
#__next {
  background: #fff;
}
.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
a {
  cursor: pointer;
}
a,
button {
  outline: none !important;
}
.slick-list {
  overflow: hidden;
  .slick-slide > div > div {
    display: block !important;
  }
}
.punkga-carousel {
  li {
    width: auto !important;
    margin: 0px 4px !important;
    height: auto !important;
    > div {
      transition: all 0.2s linear;
    }
  }
  li.slick-active > div {
    width: 30px !important;
  }
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--medium-gray);
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
  border-radius: 999px;
}
[contenteditable='true']:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  color: var(--medium-gray);
}
.page-content {
  min-height: calc(100dvh - 96px - 433px);
  @media (min-width: 768px) {
    min-height: calc(100dvh - 96px - 529px);
  }
  @media (min-width: 1024px) {
    min-height: calc(100dvh - 96px - 519px);
  }
}
.pk-container {
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  // @media (min-width: 640px) {
  //   max-width: 620px;
  //   margin: auto;
  //   padding-right: 0px;
  //   padding-left: 0px;
  // }
  @media (min-width: 768px) {
    padding-right: 80px;
    padding-left: 80px;
  }
  // @media (min-width: 1024px) {
  //   max-width: 1004px;
  //   margin: auto;
  //   padding-right: 0px;
  //   padding-left: 0px;
  // }
  // @media (min-width: 1280px) {
  //   max-width: 1180px;
  //   margin: auto;
  //   padding-right: 0px;
  //   padding-left: 0px;
  // }
  @media (min-width: 1440px) {
    max-width: 1280px;
    margin: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  // @media (min-width: 1700px) {
  //   max-width: 1640px;
  //   margin: auto;
  //   padding-right: 0px;
  //   padding-left: 0px;
  // }
}
.pk-width__ml {
  @media (min-width: 576px) {
    width: calc(100vw - (100vw - 540px) / 2);
  }
  @media (min-width: 768px) {
    width: calc(100vw - (100vw - 720px) / 2);
  }
  @media (min-width: 992px) {
    width: calc(100vw - (100vw - 960px) / 2);
  }
  @media (min-width: 1200px) {
    width: calc(100vw - (100vw - 1140px) / 2);
  }
  @media (min-width: 1700px) {
    width: calc(100vw - (100vw - 1640px) / 2);
  }
}
.pk-width__ml-opposite {
  @media (min-width: 576px) {
    width: calc((100vw - 540px) / 2);
  }
  @media (min-width: 768px) {
    width: calc((100vw - 720px) / 2);
  }
  @media (min-width: 992px) {
    width: calc((100vw - 960px) / 2);
  }
  @media (min-width: 1200px) {
    width: calc((100vw - 1140px) / 2);
  }
  @media (min-width: 1700px) {
    width: calc((100vw - 1640px) / 2);
  }
}

@keyframes bell-ring {
  0% {
  }

  5%,
  15% {
    transform: rotate(10deg);
  }

  10%,
  20% {
    transform: rotate(-10deg);
  }

  25% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@keyframes slide {
  to {
    transform: translateX(-105%);
  }
}

.animation-tag {
  width: 15ch;
  overflow: hidden;
  text-overflow: hidden;
  white-space: nowrap;
}

.animation-tag div.tag-content {
  width: max-content;
  margin: 0px 4px;
  transform: translateX(16ch);
  white-space: nowrap;
}
.x-mask {
  -webkit-mask-image: url(../assets/images/XVector.svg);
  mask-image: url(../assets/images/XVector.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.Toastify__toast--info {
  background: #228eb9 !important;
  color: #fff !important;
  font-family: inherit !important;
  border-radius: 8px 0px 0px 8px !important;
  align-items: center !important;
  padding: 24px 16px !important;
  margin-bottom: 0px !important;
}
.Toastify__toast--success {
  background: #1fab5e !important;
  color: #fff !important;
  font-family: inherit !important;
  border-radius: 8px 0px 0px 8px !important;
  align-items: center !important;
  padding: 24px 16px !important;
  margin-bottom: 0px !important;
}
.Toastify__toast--error {
  background: #ff5c00 !important;
  color: #fff !important;
  font-family: inherit !important;
  border-radius: 8px 0px 0px 8px !important;
  align-items: center !important;
  padding: 24px 16px !important;
  margin-bottom: 0px !important;
}
.Toastify__toast-icon {
  --toastify-icon-color-info: #c6f6ff;
  --toastify-icon-color-success: #c6ffde;
  --toastify-icon-color-error: #ffbe99;
}
.Toastify__close-button {
  display: none !important;
  margin-top: auto;
  margin-bottom: auto;
}
.Toastify__toast-body {
  padding: 0px !important;
  font-size: 16px !important;
  line-height: 20px !important;
  @media only screen and (max-width: 480px) {
    font-size: 14px !important;
    line-height: 18px !important;
  }
}
.Toastify__toast-container {
  padding: 0px !important;
  right: 0px !important;
  top: 161px !important;
  @media only screen and (max-width: 480px) {
    top: 161px !important;
    width: 90vw !important;
    left: unset !important;
  }
}
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

.swiper-pagination {
  position: static !important;
  margin-top: 12px;
}

.swiper-pagination-bullet-active {
  @media (min-width: 768px) {
    background: #05965a !important;
    width: 10px !important;
    height: 10px !important;
  }
  background: #05965a !important;
  width: 6px !important;
  height: 6px !important;
}
.swiper-pagination-bullet {
  @media (min-width: 768px) {
    width: 10px !important;
    height: 10px !important;
  }
  width: 6px !important;
  height: 6px !important;
}
