@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --light-gray: #f2f2f2;
  --light-medium-gray: #DEDEDE;
  --medium-gray: #ababab;
  --light-medium-gray: #DEDEDE;
  --subtle-dark: #61646B;
  --primary-color: #23ff81;
  --second-color: #1fab5e;
  --light-green: #C6FFDE;
  --light-yellow: #FFF2D1;
  --medium-yellow: #EEB304;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
a {
  cursor: pointer;
}
.slick-list {
  border-radius: 30px;
  overflow: hidden;
  .slick-slide > div > div {
    display: block !important;
  }
}
.punkga-carousel {
  li {
    width: auto !important;
    margin: 0px 4px !important;
    height: auto !important;
    > div {
      transition: all 0.2s linear;
    }
  }
  li.slick-active > div {
    width: 30px !important;
  }
}
::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--medium-gray);
  border-radius: 999px;
  opacity: 0;
}
.pk-container {
  margin: auto;
  width: 100%;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1700px) {
    max-width: 1640px;
  }
}
